body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(188, 215, 252);
}

#gameboard{
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
}

.square{
    width: 100px;
    height: 100px;
    background-color: rgb(214, 230, 252);
    border: solid 2px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 15px solid rgb(56, 139, 255);
    box-sizing: border-box;
}

.cross{
    height: 90px;
    width: 90px;
    position: relative;
    transform: rotate(45deg);
}

.cross:before, .cross:after{
    content:"";
    position: absolute;
    background-color: rgb(216, 121, 137);
}

.cross:before{
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.cross:after{
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}

h1{
    font-family: Gill Sans;
}

#info{
    font-family: Gill Sans;
}

#reset-btn{
    font-family: Gill Sans;
}