.container{
    position: relative;
    width: 60%;
    margin: auto;
}

.image{
    display: block;
    width: 100%;
    height: auto;

}


.overlay-title{
    position: absolute;
    top: 450px;
    left: 50px;
    font-size: 50px;
    color: white;
    background-color: darkblue;
}


.overlay-second{
    position: absolute;
    bottom: 7px;
    right: 20px;
    font-size: 20px;
    color: darkslategrey;
}


